<%= render 'list', user: @user %>
 
<h1>Books</h1>
<% @books.each do |book| %>
<table class="book-index">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= image_tag @user.get_profile_image, size:"80x80" %></th>
      <th><%= book.title %></th>
      <th><%= book.body %></th>
    </tr>
  </tbody>
</table>
<% end %>